API_HOST=127.0.0.1
API_PORT=3101
CORS_ORIGIN=https://codego.eu.org
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=odin
POSTGRES_PASSWORD=__set_on_server__
POSTGRES_DATABASE=quant_db
POSTGRES_SCHEMA=public
POSTGRES_SSL=false
POSTGRES_POOL_MAX=10
ES_NODE=http://127.0.0.1:9200
ES_USERNAME=elastic
ES_PASSWORD=__set_on_server__
ES_INDEX=finance_news
FETCH_INTERVAL_MS=120000
REFRESH_GUARD_MS=60000
SCHEDULE_ENABLED=true
