node_modules
.next
dist
coverage
.turbo
.DS_Store
.claude
.codex
github.com
local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.tsbuildinfo
!.env.example
!**/.env.example
!**/next-env.d.ts
