API_HOST=0.0.0.0
API_PORT=3001
CORS_ORIGIN=http://localhost:3000
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=odin
POSTGRES_PASSWORD=__set_locally__
POSTGRES_DATABASE=quant_db
POSTGRES_SCHEMA=public
POSTGRES_SSL=false
POSTGRES_POOL_MAX=10
ES_NODE=http://127.0.0.1:9200
ES_USERNAME=elastic
ES_PASSWORD=__set_locally__
ES_INDEX=finance_news
FETCH_INTERVAL_MS=120000
REFRESH_GUARD_MS=60000
SCHEDULE_ENABLED=true
